Connected Services/ServiceReference/RandomizerLib.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RandomizerLib.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RandomizerLib.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserCredentialsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCredentialsDto" nillable="true" type="tns:UserCredentialsDto" />
  <xs:complexType name="ArrayOfRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestDto" nillable="true" type="tns:RequestDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestDto" nillable="true" type="tns:ArrayOfRequestDto" />
  <xs:complexType name="RequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="From" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="To" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestDto" nillable="true" type="tns:RequestDto" />
  <xs:complexType name="HistoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="From" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryDto" nillable="true" type="tns:HistoryDto" />
</xs:schema>