Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RandomizerLib.Exception" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RandomizerLib" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RandomizerLib.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_NoSuchUserExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/RandomizerLib.Exception" name="detail" element="q1:NoSuchUserException" />
  </wsdl:message>
  <wsdl:message name="IService1_ExistUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ExistUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCredentials" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCredentials_NoSuchUserExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/RandomizerLib.Exception" name="detail" element="q2:NoSuchUserException" />
  </wsdl:message>
  <wsdl:message name="IService1_UserHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:UserHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_UserHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetUserNoSuchUserExceptionFault" name="NoSuchUserExceptionFault" message="tns:IService1_GetUser_NoSuchUserExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExistUser" message="tns:IService1_ExistUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExistUserResponse" message="tns:IService1_ExistUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterUser" message="tns:IService1_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterUserResponse" message="tns:IService1_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckCredentials" message="tns:IService1_CheckCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckCredentialsResponse" message="tns:IService1_CheckCredentials_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/CheckCredentialsNoSuchUserExceptionFault" name="NoSuchUserExceptionFault" message="tns:IService1_CheckCredentials_NoSuchUserExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserHistory" message="tns:IService1_UserHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserHistoryResponse" message="tns:IService1_UserHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveHistory" message="tns:IService1_SaveHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveHistoryResponse" message="tns:IService1_SaveHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NoSuchUserExceptionFault">
        <soap:fault use="literal" name="NoSuchUserExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExistUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ExistUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCredentials">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NoSuchUserExceptionFault">
        <soap:fault use="literal" name="NoSuchUserExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UserHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/UserHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RandomizerLib/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>